.btn-yellow, .btn-blue, .btn-dark {
  margin-top: 15px;
  color: white;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  border: none;
  outline: none !important;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


.btn-blue {
  background: $blue;
  &:hover {
    background: $light-blue;
  }
}

