.picto {
  width: 100px;
  color: white;
  background: $yellow;
  padding: 10px 15px 10px 15px;
  font-size: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

/* --- Responsive design --- */

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .picto {
    width: 40px;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
  }
}
