<!-- Posting the form results on formspree / Remplacer le # par l'url formspree -->
<form id="formContact" action="#" method="POST">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" name="nom" class="form-control" placeholder="Nom *" required>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Email *" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" name="objet" class="form-control" placeholder="Objet *">
  </div>
  <div class="form-group">
    <textarea class="form-control" name="message" rows="10" placeholder="Message *"></textarea>
  </div>
  <!-- Redirect to thanks page after submitting / Remplacer https://monsite.ch/thanks.html par l'url de la page de remerciement -->
  <input type="hidden" name="_next" value="https://www.monsite.ch/thanks.html"/>
  <div class="text-center">
    <button type="submit" class="btn-blue">Envoyer</button>
  </div>
</form>

