<div class="ruban ruban-light-blue-oblic-left">
  <div class="main-container">
    <div class="card-hori">
      <div>
        <%= image_tag 'pictures/my_picture.jpg', class: 'card-hori-pic img-large' %>
      </div>
      <div class="card-hori-infos">
        <div>
          <h2><%= current_page.data.banner_title %></h2>
          <p><%= current_page.data.banner_text %></p>
        </div>
      </div>
    </div>
  </div>
</div>
