/* --- Color Variables --- */
$black: #000A19;
$gray: rgb(200,200,200);
$light-gray: #F4F4F4;
$yellow: #F4D35E;
$dark-yellow: #F4D35E;
$light-blue: #86BBD8;
$blue: #16459d;

/* --- Less used Color Variables --- */
$corail: #EF6461;
$orange: #EE964B;
$green: #66999B;



