---
id: about
title: Dubey - A propos
banner_picture: my_banner.jpg
banner_title: Dubey peinture
banner_text: Des artisans passionnés à votre service
banner_layout: content-left
banner_gradient: linear-gradient(to right, rgba(0,0,0,0.6),rgba(255,255,255,0.1)),
banner_margin : margin-bottom
---

<div class="main-container padding-bottom">
  <div class="card-hori">
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <%= link_to "Plaquette de présentation", "#", :target => '_blank', :class => 'btn-blue text-center'%>
  </div>
</div>

<div class="ruban ruban-blue-oblic-left margin-bottom">
  <div class="main-container">
    <div class="card-hori background-white">
      <div class="img-large">
          <%= image_tag "pictures/my_profile.jpg", :class => 'img-large' %>
      </div>
      <div class="card-hori-infos">
        <h2 class="padding-bottom">Qui suis-je ?</h2>
        <p class="padding-bottom">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p class="padding-bottom">
          <%= link_to "Voir mon profil LinkedIn", "#", :target => '_blank', :class => 'btn-blue'%>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="main-container">
  <div class="card-hori background-white">
    <div class="card-hori-infos">
      <h2 class="padding-bottom">Mission</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <ul>
        <li><p><i class="fas fa-caret-right bullet"></i>Texte à ajouter; </p></li>
        <li><p><i class="fas fa-caret-right bullet"></i>Texte à ajouter; </p></li>
        <li><p><i class="fas fa-caret-right bullet"></i>Texte à ajouter.</p></li>
      </ul>
    </div>
  </div>
</div>

<div class="main-container padding-bottom margin-bottom">
  <div class="card-hori background-white">
    <div class="card-hori-infos">
      <h2 class="padding-bottom">Philosophie</h2>
      <p><span>Texte à ajouter</span></p>
      <p>Texte à ajouter</p>
    </div>
  </div>
</div>


