---
id: ressources
title: Dubey - Merci
banner_picture:  banner-home.jpg
banner_title: Merci !
banner_layout: content-center
banner_gradient: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
banner_margin : margin-bottom
---

<div class="main-container text-center">
  <p class="padding-bottom">Le formulaire a bien été transmis.</p>
  <%= link_to "Retour à  la page d'accueil", "/index.html", :class => 'btn-blue'%>
</div>

